.order-button {
    border-radius: 4px;
    border: 0;
    padding: 10px 32px;

    background-color: var(--theme-accent);
    color: var(--main-bgd-color);
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    transition-property: transform;
    transition-duration: 250ms;
    transition: transform 1250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover {
        // transform: scale(1.3);
        animation: pulsate 2s ease-in-out;
    }
    
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px var(--aсcent-color);
    }
}


/* Модальное окно */

.backdrop-btn {
    position: absolute;
    fill: currentColor;
    top: 8px;
    right: 8px;
    border: 0;
    padding: 0;
    border: 2px solid #0000000a;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--main-bgd-color);
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) var(--bgd-modal);
    transition-property: color,
        transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover, &:focus {
        color: var(--theme-accent);
    }
}

.btn-sumbit {
    width: 200px;
    height: 50px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--main-bgd-color);
    background-color: var(--theme-accent);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

/* Портфолио */

.button-portfolio {
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;

    color: var(--main-text-color);
    background-color: var(--bgd-button-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;

    transition-property: color, background-color, box-shadow, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover, &:focus {
        background-color: var(--theme-accent);
        color: var(--main-bgd-color);
        box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
            0px 4px 4px 0px #00000040;
    }
}


.btn-submit-footer {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    margin-top: 36px;
    background-color: var(--theme-accent);
    color: var(--main-bgd-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition-property: border, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover, &:focus {
        transform: scale(1.1);
    }

    @media screen and (max-width: 480px) {
        margin-left: 0;
        margin-top: 20px;
    }
}


.btn-submit-footer:hover svg {
    animation: animateX25Y25 3000ms infinite 100ms;
}

.btn-submit-svg {
    margin-left: 10px;
}

@keyframes animateX25Y25 {
    0% {
        transform: translate(0, 0px);
    }

    33% {
        transform: translate(25px, -25px);
    }

    66% {
        transform: translate(-5px, 5px);
    }

    100% {
        transform: translate(0, 0px);
    }
}