.client-section {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 480px) {
        flex-wrap: wrap;
    }
}

.client {
    border: 1px solid #afb1b8;
    border-radius: 5px;
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    color: var(--svg-color);

    transition-property: color, border, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover, &:focus {
        color: var(--theme-accent);
        border: 1px solid var(--theme-accent);
        transform: scale(1.3);
    }
    
    @media screen and (max-width: 480px) {
        width: 210px;
    }

}

.client-box {
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }

    @media screen and (max-width: 480px) {
        margin-right: 0;
        &:nth-child(2n) {
            margin-left: 30px;
            margin-bottom: 30px;
            }
    }
}


.icon-svgclient {
    width: 106px;
    fill: currentColor;
}