.works-catt {
    display: flex;
    justify-content: center;
    padding-top: 94px;
}

.port-catt {
    margin-right: 8px;
    margin-bottom: 50px;
    
    &:last-child {
        margin-right: 0px;
    }
}

.project-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.all-project {
    display: flex;
    flex-wrap: wrap;
}