.menu-btn {
    position: relative;
    z-index: 9;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background-color: var(--main-bgd-color);
    border: transparent;
    outline: transparent;
    transition-property: color,
        transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &__icon {
        width: 24px;
        height: 16px;

        &-open {
            opacity: 0;
            fill: currentColor;
        }

        &-close {
            opacity: 1;
            width: 19px;
            height: 19px;
            fill: currentColor;
        }
    }

    &:hover,
    &:focus {
        color: var(--theme-accent);
    }

   
}

.is-active .menu-btn__icon-open {
    opacity: 1;
}

.is-active .menu-btn__icon-close {
    opacity: 0;
}