:root {
    /* основной цвет текста */
    --main-text-color: #212121;
    /* вторичный цвет текста */
    --text-color: #757575;
    /* цвет-акцент */
    --theme-accent: #2196f3;
    /* основной цвет фона */
    --main-bgd-color: #fff;
    /* вторичный цвет фона */
    --bgd-color: #2f303a;
    /* цвет фона кнопок */
    --bgd-button-color: #f5f4fa;
    /* цвет иконок */
    --svg-color: #afb1b8;
    /* Фон модалки */
    --bgd-modal: #afb1b8;
}